<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rx.pub.wechat.mapper.PayWechatUserMapper">

    <sql id="condition">
        <if test="param.id != null and param.id != ''">
            AND id = #{param.id}
        </if>
        <if test="param.openid != null and param.openid != ''">
            AND openid = #{param.openid}
        </if>
        <if test="param.userid != null and param.userid != ''">
            AND userid = #{param.userid}
        </if>
        <if test="param.nickname != null and param.nickname != ''">
            AND nickname = #{param.nickname}
        </if>
        <if test="param.sex != null">
            AND sex = #{param.sex}
        </if>
        <if test="param.city != null and param.city != ''">
            AND city = #{param.city}
        </if>
        <if test="param.country != null and param.country != ''">
            AND country = #{param.country}
        </if>
        <if test="param.province != null and param.province != ''">
            AND province = #{param.province}
        </if>
        <if test="param.languages != null and param.languages != ''">
            AND languages = #{param.languages}
        </if>
        <if test="param.subscribe != null and param.subscribe != ''">
            AND subscribe = #{param.subscribe}
        </if>
        <if test="param.subscribetime != null">
            AND subscribetime <![CDATA[>=]]>  #{param.subscribetime,jdbcType=TIMESTAMP}
            AND subscribetime <![CDATA[<=]]> date_add(#{param.subscribetime,jdbcType=TIMESTAMP}, interval 1 day)
        </if>
        <if test="param.unionid != null and param.unionid != ''">
            AND unionid = #{param.unionid}
        </if>
        <if test="param.remark != null and param.remark != ''">
            AND remark = #{param.remark}
        </if>
        <if test="param.groupid != null and param.groupid != ''">
            AND groupid = #{param.groupid}
        </if>
        <if test="param.tagidlist != null and param.tagidlist != ''">
            AND tagidlist = #{param.tagidlist}
        </if>
        <if test="param.createtime != null">
            AND createtime <![CDATA[>=]]>  #{param.createtime,jdbcType=TIMESTAMP}
            AND createtime <![CDATA[<=]]> date_add(#{param.createtime,jdbcType=TIMESTAMP}, interval 1 day)
        </if>
        <if test="param.bindstatus != null">
            AND bindstatus = #{param.bindstatus}
        </if>
        <if test="param.unbindtime != null">
            AND unbindtime <![CDATA[>=]]>  #{param.unbindtime,jdbcType=TIMESTAMP}
            AND unbindtime <![CDATA[<=]]> date_add(#{param.unbindtime,jdbcType=TIMESTAMP}, interval 1 day)
        </if>
        <if test="param.headimgurl != null and param.headimgurl != ''">
            AND headimgurl = #{param.headimgurl}
        </if>
        <if test="param.opd != null and param.opd != ''">
            AND opd = #{param.opd}
        </if>
        <if test="param.accountCode != null and param.accountCode != ''">
            AND account_code = #{param.accountCode}
        </if>
    </sql>


    <select id="searchList" resultType="com.rx.pub.wechat.model.dto.PayWechatUserDto">
        SELECT * FROM pay_wechat_user
        <where>
            1 = 1
            <include refid="condition"></include>
        </where>
    </select>


    <select id="getByOpenid" resultType="com.rx.pub.wechat.model.dto.PayWechatUserDto">
        SELECT * FROM pay_wechat_user
        <where>
            1 = 1
            AND openid = #{openid} AND account_code = #{accountCode}
        </where>
    </select>

    <select id="getByUnionId" resultType="com.rx.pub.wechat.model.dto.PayWechatUserDto">
        SELECT * FROM pay_wechat_user
        <where>
            1 = 1
            AND unionid = #{unionid} AND account_code = #{accountCode}
        </where>
    </select>
    

    <select id="getByUserId" resultType="com.rx.pub.wechat.model.dto.PayWechatUserDto">
        SELECT * FROM pay_wechat_user
        <where>
            1 = 1
            AND userid = #{userid} AND account_code = #{accountCode}
        </where>
    </select>
    


</mapper>