<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rx.pub.role.mapper.PubRoleMapper">

    <sql id="condition">
        <if test="param.roleId != null and param.roleId != ''">
            AND role_id = #{param.roleId}
        </if>
        <if test="param.roleName != null and param.roleName != ''">
            AND role_name = #{param.roleName}
        </if>
        <if test="param.status != null">
            AND status = #{param.status}
        </if>
    </sql>


    <select id="searchList" resultType="com.rx.pub.role.po.PubRolePo">
        SELECT * FROM pub_role
        <where>
            1 = 1
            <include refid="condition"></include>
        </where>
    </select>

</mapper>