<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rx.pub.role.mapper.PubUserGroupMapper">

    <sql id="condition">
        <if test="param.userGroupRef != null and param.userGroupRef != ''">
            AND user_group_ref = #{param.userGroupRef}
        </if>
        <if test="param.userId != null and param.userId != ''">
            AND user_id = #{param.userId}
        </if>
        <if test="param.userType != null and param.userType != ''">
            AND user_type = #{param.userType}
        </if>
        <if test="param.groupId != null and param.groupId != ''">
            AND group_id = #{param.groupId}
        </if>
        <if test="param.groupType != null and param.groupType != ''">
            AND group_type = #{param.groupType}
        </if>
        <if test="param.relation != null">
            AND relation = #{param.relation}
        </if>
    </sql>


    <select id="searchList" resultType="com.rx.pub.role.po.PubUserGroupPo">
        SELECT * FROM pub_user_group
        <where>
            1 = 1
            <include refid="condition"></include>
        </where>
    </select>

</mapper>