.r-transparent{
	border-color: transparent;
	background-color: transparent;
	background-image: none;
}

/*高低为25的tabbar样式  Ext.tab.Panel {tabBar:{cls:'r-tab-bar-small-horizontal'}} */
.r-tab-bar-small-horizontal{
	override:hidden;
	display:inline-block;
	height: 25px;
}
.r-tab-bar-small-horizontal .x-tab-default-top{
	padding: 4px 12px 3px 12px;
}

.r-tab-bar-small-horizontal .x-tab-default-top-mc 
,.r-tab-bar-small-horizontal .x-tab-default-bottom-mc{
	padding: 2px 9px 2px 9px;/*IE8*/
}

.r-tab-bar-small-horizontal .x-tab-default-bottom{
	padding: 3px 12px 4px 12px;
}
.r-tab-bar-small-horizontal .x-tab-bar-strip-default-horizontal{
	height:1px;
}
.r-tab-bar-small-horizontal .x-tab-bar-body-default-bottom{
	padding-top: 1px;
}
.r-tab-bar-small-horizontal .x-tab-bar-body-default-top {
	padding-bottom: 1px;
}

/*一个像素strip的tabbar Ext.tab.Panel {tabBar:{cls:'r-tab-bar-small-strip'}} */
.r-tab-bar-small-strip.x-tab-bar-default-horizontal {
	height: 32px;
}
.r-tab-bar-small-strip .x-tab-bar-body-default-top{
	padding-bottom: 1px;
}
.r-tab-bar-small-strip .x-tab-bar-body-default-bottom{
	padding-top: 1px;
}
.r-tab-bar-small-strip .x-tab-bar-strip-default-horizontal{
	height:1px;
}

/*透明背景的tabbar Ext.tab.Panel {tabBar:{cls:'r-tab-bar-transparent'}} */
.r-tab-bar-transparent{
	background-color: transparent;
}
.r-tab-bar-transparent .x-tab-default{
	background-color: transparent;
}
.r-tab-bar-transparent .x-tab-active{
	background-color: #add2ed;
}
.r-tab-bar-transparent .x-tab-over{
	background-color: #5fa7db;
}

/*浅色的tabbar Ext.tab.Panel {tabBar:{cls:'r-tab-bar-light'}} */
.r-tab-bar-light{
	background-color: #f5f5f5;
}
.r-tab-bar-light .x-tab-default{
	background-color: transparent;
}
.r-tab-bar-light .x-tab-over{
	background-color: #add2ed;
}
.r-tab-bar-light .x-tab-default-over .x-tab-inner{
	font-weight: normal;
}
.r-tab-bar-light .x-tab-active{
	background-color: #add2ed;
}
.r-tab-bar-light .x-tab-default .x-tab-inner{
	color:#333333;
	font-weight: normal;
}
.r-tab-bar-light .x-tab-default-active .x-tab-inner{
	color:#157fcc;
	font-weight: normal;
}
.r-tab-bar-light .x-tool-img{
	background-image: url(images/icons/tool-sprites.png);
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
	opacity: 0.6;
}
.r-tab-bar-light .x-tool-over .x-tool-img{
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1.0;
}

/*tab 选项卡深色选中 Ext.tab.Panel {tabBar:{cls:'r-tab-active-dark'}}  */
.r-tab-active-dark .x-tab-active{
	background-color: #157fcc !important;
}
.r-tab-active-dark .x-tab-bar-strip-default{
	background-color: #157fcc;
}
.r-tab-active-dark .x-tab-default-active .x-tab-inner{
	color:#FFFFFF !important;
}

/*tab 选项卡无圆角  Ext.tab.Panel {tabBar:{cls:'r-tab-sharp'}} */
.r-tab-sharp .x-tab-default-top{
	-moz-border-radius-topleft: 0px;-webkit-border-top-left-radius: 0px;border-top-left-radius: 0px;-moz-border-radius-topright: 0px;-webkit-border-top-right-radius: 0px;border-top-right-radius: 0px;
}
.r-tab-sharp .x-tab-default-right {
	-moz-border-radius-topright: 0px;-webkit-border-top-right-radius: 0px;border-top-right-radius: 0px;-moz-border-radius-bottomright: 0px;-webkit-border-bottom-right-radius: 0px;border-bottom-right-radius: 0px;
}
.r-tab-sharp .x-tab-default-left {
	-moz-border-radius-topleft: 0px;-webkit-border-top-left-radius: 0px;border-top-left-radius: 0px;-moz-border-radius-bottomleft: 0px;-webkit-border-bottom-left-radius: 0px;border-bottom-left-radius: 0px;
}
.r-tab-sharp .x-tab-default-bottom {
	-moz-border-radius-bottomright: 0px;-webkit-border-bottom-right-radius: 0px;border-bottom-right-radius: 0px;-moz-border-radius-bottomleft: 0px;-webkit-border-bottom-left-radius: 0px;border-bottom-left-radius: 0px;
}

/*图标大小为24的菜单  menu:{cls:'x-menu-24'} */
.x-menu-24 .x-menu-item{
	height:36px;
}
.x-menu-24 .x-menu-item-icon {
	width: 24px;
	height: 24px;
	top: 6px;
	left: 5px;
}
.x-menu-24 .x-menu-item-link {
	padding: 5px 4px 0 32px;
}
/*图标大小为32的菜单  menu:{cls:'x-menu-32'} */
.x-menu-32 .x-menu-item{
	height:42px;
}
.x-menu-32 .x-menu-item-icon{
	width: 32px;
	height: 32px;
	top: 6px;
	left: 5px;
}
.x-menu-32 .x-menu-item-link {
	padding: 11px 4px 0 45px;
}
.x-menu-32 .x-menu-item-text{
	font-size:15px;
}
.x-menu-32 .x-menu-item-arrow{
	top:18px;
}

/*背景透明的按钮*/
.r-btn-transparent ,.r-btn-transparent-linefocus{
	border-color: transparent;
	background-color: transparent;
	background-image: none;
}
/*没有背景图的按钮*/
.r-btn-nobg{
	background-image: none;
}

.r-btn-highlight .x-btn-inner{
	color: #64c3ff;
}

.r-btn-highlight.x-btn-over .x-btn-inner{
	color: #09c;
}


.x-btn-over.r-btn-transparent-linefocus{
	border:1px solid RGB(149,159,172);
}
.r-btn-radius0 {
	-webkit-border-radius:0;
	-moz-border-radius:0;
	-ms-border-radius:0;
	-o-border-radius:0;
	border-radius:0;
}
/*窄边距的按钮*/
.r-btn-small-thin{
	padding: 3px 0px 3px 0px;
}
.r-btn-small-thin .x-btn-inner{
	padding:0 2px;
}
/*字体不加粗的按钮*/
.r-btn-font-normal .x-btn-inner{
	font-weight: normal;
}
/*线高为24的label文字*/
.r-line-height-24{
	line-height:24px;
}

/*折叠之后背景透明的header  Ext.panel.Panel {collapsedCls:'r-header-collapsed-transparent'} */
.r-header-collapsed-transparent{
	background-color: transparent;
	border: none;
}
/*圆角、背景渐变的checkbox*/
.r-checkbox-gradient input{
	background-color:#FFF;
	background-image:none;
	background-image:none;
	border-radius:2px / 3px;
	border:#119FF9 1px solid;
}
.r-checkbox-gradient label{
	margin-left: -11px;
	font-size: 12px;
	line-height: 18px;
	color:#119FF9;
}
.r-checkbox-gradient-checked input{
	background:none;
	background-image:-webkit-linear-gradient(to top, #119FF9, #64B6F1);
	background-image:linear-gradient(to top,#119FF9,#64B6F1);
	-moz-border-radius:2px / 3px;
	-webkit-border-radius:2px / 3px;
	border-radius:2px / 3px;
	border:#119FF9 1px solid;
}
.r-checkbox-gradient-checked label{
	color:#FFF;
}
/*多媒体拍照按钮*/
.r-btn-photograph .x-btn-icon-el{
	left: 45px;
}
/*多媒体浏览搜索按钮*/
.r-btn-browse-search .x-btn-icon-el{
	left: 75px;
}
/*可以伸展的tree*/
.x-tree-node-detail{
	padding-top: 5px;
	 display:none;
	/*float:right;*/
	color:#7E7E7E;
}
/*正在加载的tree节点*/
.r-tree-elbow-autoloading{
	background-image: url(images/icons/elbow-loading.png);
}
.r-tree-elbow-loading.x-tree-elbow{
	background-image: url(images/icons/elbow.gif);
}
.r-tree-elbow-loading.x-tree-elbow-end{
	background-image: url(images/icons/elbow-end.gif);
}

.x-grid-row-selected .x-tree-node-detail{
 	display:block;
}

/*图片显示控件*/
.r-picturedisplayer{
	left:0  !important;
	top:0  !important;
}

.r-picturedisplayer .x-panel-body{
	overflow: auto;
}
.r-pictruedisplayer-fix .x-panel-body{
	overflow:hidden;
}
.r-picturedisplayer .innerbox{
	background-position:center center;
	background-repeat: no-repeat;
}
.r-pictruedisplayer-fix .innerbox{
	background-size:contain;
	overflow:hidden;
}

.innerbox.error{
	background-size: inherit !important;
	background-image: url(images/fail.png) !important;
}
.innerbox.loading{
	background-size: inherit !important;
	background-image: url(images/loading/large-loading.gif) !important;
}


.r-pictruedisplayer-fix .innerbox img{
	display: none;
}
/* x-docked*/
.r-picturedisplayer .x-toolbar ,.r-picturedisplayer .x-btn.x-docked ,.r-picturedisplayer .x-panel-body-default{
	background-color: transparent;
}
.r-picturedisplayer .x-toolbar.x-docked-top{
	padding:0 0 0 0;
}
/*
.r-picturedisplayer .x-btn-over.x-docked{
	background-color:#616161;
}
*/
.icon-picturedisplayer-right {
	background-position: 0 -64px;
}
.icon-picturedisplayer-left ,.icon-picturedisplayer-right {
	width:64px !important;
	height:64px !important;
	top:50%;
	margin-top:-32px;
	background-image: url(images/picturedisplayer/leftright.png);
}
.r-picturedisplayer .x-btn-over.x-docked .icon-picturedisplayer-left {
	background-position:-64px 0;
}
.r-picturedisplayer .x-btn-over.x-docked .icon-picturedisplayer-right {
	background-position:-64px -64px;
}
.r-picturedisplayer-shadow {
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
	opacity: 0.7;
	background: black;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	-ms-border-radius:0;
	-o-border-radius:0;
	border-radius:0;
}
.icon-picturedisplayer-close {
	width:48px !important;
	height:48px !important;
	background-image: url(images/picturedisplayer/close.png);
}
.x-btn-over .icon-picturedisplayer-close {
	background-position:-48px 0;
}
.icon-picturedisplayer-oprator ,.icon-picturedisplayer-screen{
	background-image: url(images/picturedisplayer/oprator.png);
}
.icon-picturedisplayer-screen{
	background-position:0 -32px;
}
.x-btn-over .icon-picturedisplayer-oprator ,.x-btn-over .icon-picturedisplayer-screen{
	background-position-x:-32px !important;
}
.r-pictruedisplayer-fix .icon-picturedisplayer-screen{
	background-position:0 0;
}

/*btn的边框和icon之间没有间距的btn样式*/
.r-btn-nopadding {
	padding: 0 0 0 0;
}
.r-btn-nopadding .x-btn-wrap ,.r-btn-nopadding .x-btn-button {
	overflow: visible;
}

/*fieldset样式*/
.r-fieldset-noborder{
	border: none;
}
.r-fieldset-onlytop{
	border-width: 1px 0 0 0;
	border-color: #efefef;
}

/*文字颜色更淡的btn*/
.r-btn-lighter .x-btn-inner{
	color:#aeadad;
}

.r-padding-0{
	padding:0;
}
/*车辆选择表格样式*/
.r-grid-terminalselector{
	border-left-width: 1px !important;
	border-left-color: #157fcc;
	border-left-style: solid;
}
/*显示消息的工具条*/
.r-infobar{
	background-color: #FFE6D6 !important;
}


.r-hidden{
	display: none !important;
	height:0px;
	overflow:hidden;
}

.r-hidden-visibility{
	visibility: hidden;
    overflow: hidden;
}

.r-border-top .x-noborder-trl{
	border-top-width: 1px !important;
}


.x-selectable,.x-selectable * {
	-khtml-user-select: text !important;
	user-select: text !important;
    -o-user-select: text !important;
    -ms-user-select: text !important;
    -moz-user-select: text !important;
    -webkit-user-select: text !important;
    -webkit-tap-highlight-color: transparent;
}

.x-mask-loading{
	min-width:16px;
}


.x-treecolumn-disabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
}

.x-treecolumn-disabled .x-tree-icon-leaf{
	    /* background-image:url(images/icons/fam/information.png);*/
}

.x-btn-pressed .x-tool-img{
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
    opacity: 0.2;
}


.r-window-content{
	
}
.r-window-content td{
	padding:4px;
}

.r-window-content table{
	/*margin:3px;*/
	border-color:#fff;
	font-size:12px;
}


/*白色窗体*/
.r-window-white
,.r-window-white .x-window-body-default
,.r-window-white .x-window-header-default-top
/*,.r-window-white .x-window-default*/ 
{
    background-color: #ffffff;
}

.r-window-white ,.r-window-white .x-window-header-default {
    border-color: #ffffff;
}

.r-window-white .x-window-header-text-container-default {
	color:#000;
}
.r-window-white .x-window-header-default .x-tool-img {
	background-image: url(images/icons/2.png);
    background-color: #FFFFFF;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: 0.8;
}

/*提供显示用的form，行距变小*/
.r-displayform{
	
}
.r-displayform .x-anchor-form-item{
	margin-bottom:0px;
}
.r-displayform .x-form-item-label-default {
    min-height: 28px;
    padding-top: 0px;
}
.r-displayform .x-form-item-body-default {
    min-height: 28px;
}
.r-displayform .x-form-display-field-default {
    min-height: 28px;
    margin-top: 0px;
}

/*表格column样式*/
.r-actioncolumn{
	margin-left:5px;
}

.r-column-visibility-over ,.r-column-visibility-selected{
	visibility:hidden;
}
.x-grid-item-over .r-column-visibility-over ,.x-grid-item-selected .r-column-visibility-selected{
	visibility:visible;
}


.r-noright{
	border-color: darkgoldenrod !important;
}

.x-tool.r-noright{
	border: 1px solid;
}
 .x-btn.r-noright{
	
}



.gray {  
 -webkit-filter: grayscale(100%);
-moz-filter: grayscale(100%);
-ms-filter: grayscale(100%);
-o-filter: grayscale(100%); 
filter: grayscale(100%);
filter: gray;
}



.r-fileinputfield img{
	width:60px;
	height:60px;
}



.r-iconinputfield .x-form-trigger-wrap-default{
	border:none;
}


.r-iconinputfield .x-img {
	-webkit-border-radius:40px;
	-moz-border-radius:40px;
	-ms-border-radius:40px;
	-o-border-radius:40px;
	border-radius:40px;
}