<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rx.pub.file.mapper.RxFileMapper" >
	
	<sql id="condition">
        <if test="param.fileName != null and param.fileName != '' ">
            AND file_name like CONCAT('%',#{param.fileName},'%')
        </if>
        
        <if test="param.contentType != null and param.contentType != '' ">
            AND content_type like CONCAT('%',#{param.contentType},'%')
        </if>
        
        <if test="param.uploadSize != null ">
            AND upload_size = #{param.uploadSize,jdbcType=INTEGER}
        </if>
        
        <if test="param.path != null and param.path != ''">
            AND path = #{param.path}
        </if>
        
        <if test="param.owner != null and param.owner != ''">
            AND owner = #{param.owner}
        </if>
      
        <if test="param.mark != null and param.mark != ''">
            AND mark = #{param.mark}
        </if>
        
        <if test="param.createTime != null">
            AND create_time &gt;= #{param.createTime,jdbcType=TIMESTAMP}
            AND create_time &lt; date_add(#{param.createTime,jdbcType=TIMESTAMP}, interval 1 day)
        </if>
         
    </sql>

    <select id="searchList" resultType="com.rx.pub.file.po.RxFile">
        select * from pub_file
        <where>
            1 = 1
            <include refid="condition"></include>
        </where>
        ORDER BY CREATE_TIME DESC
    </select>

	 <insert id="batchSaveFile" parameterType="java.util.List" >
        insert into pub_file
        (id, file_name, content_type,upload_size,path,owner,owner_type,mark,prop)
        values
        <foreach collection="params" item="file" index="index"
            separator=",">
            (
            	#{file.id}, #{file.fileName}, #{file.contentType},
            	#{file.uploadSize}, #{file.path}, #{file.owner}, 
            	#{file.ownerType}, #{file.mark}, #{file.prop}
            )
        </foreach>
    </insert>
	
</mapper>